[submodule "src/game/scripts/vscripts/lib/RxLua"]
	path = src/game/scripts/vscripts/lib/RxLua
	url = ssh://git@github.com/bjornbytes/RxLua
[submodule "src/game/scripts/vscripts/lib/ecs-dota"]
	path = src/game/scripts/vscripts/lib/ecs-dota
	url = ssh://git@github.com/dark123us/ecs-dota
[submodule "src/game/scripts/vscripts/lib/dota-lua-debug"]
	path = src/game/scripts/vscripts/lib/dota-lua-debug
	url = ssh://git@github.com/dark123us/dota-lua-debug
[submodule "src/game/scripts/vscripts/lib/dota-ecs"]
	path = src/game/scripts/vscripts/lib/dota-ecs
	url = ssh://git@github.com/dark123us/dota-ecs
[submodule "src/content/panorama/lib/debug"]
	path = src/content/panorama/lib/debug
	url = ssh://git@github.com/dark123us/dota-custom-panorama-debug
[submodule "src/content/panorama/lib/util"]
	path = src/content/panorama/lib/util
	url = ssh://git@github.com/dark123us/dota-custom-panorama-util
[submodule "src/game/scripts/vscripts/lib/dota2_api"]
	path = src/game/scripts/vscripts/lib/dota2_api
	url = ssh://git@github.com/dark123us/dota2_api
