NAMEMAP=castle_story_1
NAMECUSTOM=dota-cf
SOURCE=src

PATHREPWINDOWS=Z:/home/dark123us/projects/dota-cf
PATHDOTAWINDOWS="D:\SteamLibrary\steamapps\common\dota 2 beta"

PATHREP=/home/dark123us/projects/dota-cf
PATHDOTA="/mnt/d/SteamLibrary/steamapps/common/dota 2 beta"
